.main {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-right: 40px;
    /* overflow: scroll; */
}

.header {
    background-color: #1569b2;
}

.mat-slider {
    width: 100%;
}

h2 {
    color: #ffffff;
}

.example-chip-list {
    width: 100%;
}

.input_box {
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
}

.input_box input {
    font-size: 15px;
    padding: 0 10px;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    font-weight: 500;
    color: #222;
    letter-spacing: .5px;
    border-radius: 5px;
    background: #ffffff;
}

.input_box input::placeholder {
    visibility: hidden;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .5px;
}

.input_box input:focus {
    outline: none;
    border: 1px solid #bcc5fac5;
    color: #222;
}

.input_box input:focus::placeholder {
    visibility: visible;
    color: #666;
}

.input_box label {
    color: #555;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 14px;
    letter-spacing: .5px;
    padding: 0px 5px;
    transition: .2s;
    background: #ffffff;

}

.input_box input:focus~label,
.input_box input:valid~label {
    top: -5px;
    font-size: 12px;
    color: #1569b2;
    font-weight: 500;
}

.input_box textarea {
    font-size: 15px;
    padding: 0 10px;
    display: block;
    width: 100%;
    height: 150px;
    border: 1px solid #999;
    font-weight: 500;
    color: #222;
    letter-spacing: .5px;
    border-radius: 5px;
    background: #ffffff;
}

.input_box textarea::placeholder {
    visibility: hidden;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .5px;
}

.input_box textarea:focus~label,
.input_box textarea:valid~label {
    top: -5px;
    font-size: 12px;
    color: #1569b2;
    font-weight: 500;
}

img {
    width: 174px;
    height: 150px;
}


.a {
  
    padding: 30px;
}
.a label {
  
   position: relative;
   left: 30px;
   color: #1569b2;
}

.col-4 {
    display: flex;
}

mat-dialog-actions {
    margin-left: 6vw;
}

.button {
    margin-left: 30px;
}

mat-slider {
    width: 100%;
}

.pl {
    display: flex;
    flex-direction: column;
}
 
.mat-icon {
    font-size: 16px;
 
    cursor: pointer;
   
}


.mat-input-element {
    font-size: 14px;
  border: none;
   
}


::placeholder {
    color: #999;
    
}


.mat-chip-list {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
   
}

@media (max-width: 1200px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .a {
        padding: 0px;
        margin-bottom: 2px;
    }
    
}
