<nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">DEMO APP</a>
        <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" #navbarCollapse id="navbar1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">JOB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">CLIENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">EMPLOYERE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
