<div class="container-fluid home-section view">

  <div class="mask rgba-blue-slight"></div>

</div>

<div class="container home-content">

  <div class="row">

    <div class="col-12">

      <h1 class="h1-responsive">I'm looking for..</h1>

    </div>

    <div class="col-12 col-md-8 mt-4">

      <input type="text" class="form-control" placeholder="Enter a Job Description" />

    </div>

    <div class="col-12 text-center text-md-left col-md-4 mt-4">

      <a class="btn search">

        <i class="fa fa-search" aria-hidden="true"></i> Search</a>

    </div>

  </div>

  <div class="row location mt-3">

    <div class="col-12 col-md-2 mt-md-0 mt-2">

      <mat-checkbox class="example-margin" style="color: antiquewhite;">Full Time!</mat-checkbox>

    </div>

    <div class="col-12 col-md-3 mt-md-0 mt-3">
      <mat-checkbox class="example-margin" style="color: antiquewhite;">Part Time / Casual / Freelanc</mat-checkbox>
      <!-- <mdb-checkbox [default]="true">Part Time / Casual / Freelance</mdb-checkbox> -->

    </div>

    <select class="col-12 col-md-3 mt-md-0 mt-3">

      <!-- <input type="text" class="form-control job" placeholder="Select Your Location" /> -->
      <option value="" disabled selected class="form-control job">Select your location</option>
      <option value="income">Pune</option>
      <option value="income">Mumbai</option>
      <option value="other">Banglore</option>

    </select>

    <div class="col-md-10 col-12 mt-5 text-center">

      <a class="btn search relative waves-light" (click)="register()" mdbWavesEffect>Register</a>
      <!-- (click)="basicModal.show()" -->
    </div>

  </div>

</div>

<div class="container-fluid middle-section">

  <div class="row justify-content-center">

    <div class="col-12 text-center">

      <h2><i>We're leaders in</i></h2>

    </div>

    <div class="col-12 text-center">

      <h1>Creative Digital Recruitment</h1>

    </div>

    <span></span>

    <div class="col-12 text-center">

      <p>
        Based in Surry Hills, the creative hub of Sydney we are surrounded by
        creativity <br />
        and that reflects on the type of jobs we recruit for.
      </p>

    </div>

    <div class="col-12 text-center">

      <button class="find-btn">FIND OUT MORE ABOUT US!</button>

    </div>

  </div>

</div>