.home-section {
    position: relative;
    background: url("src\assets\bg.jpg");
    position: center center;
    background-size: cover;
    height: 100vh;
    
}

.home-content {
    padding-top: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.home-content h1 {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 3rem;
}

.job {
    padding: 1.5rem 2rem;
    border-bottom: 4px solid #1a1b1b;
    margin-top: 0;
}

::placeholder {
    font-style: italic;
    color: RGB (175, 173, 169);
}

.search {
    background-color: #4882f8;
    font-style: italic;
    color: black !important;
    padding: 0.9rem 2rem !important;
}

.location {
    font-style: italic;
    color: white;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.form-content label {
    color: #A9ABAF;
    font-weight: bold;
}

form ::placeholder {
    font-style: normal;
}

input {
    margin-top: 1rem;
    padding: 1.5rem 1.5rem;
}

select {
    margin-bottom: 0.4rem;
    padding: 0.8rem 1.5rem;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #99a3a4;
}

.age {
    color: #99a3a4;
    font-weight: bold;
}

.button-content input {
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    color: white;
}

.cancel {
    border: 0.5px solid gray !important;
    color: black !important;
}

.middle-section {
    background-color: #e5e7e9;
    border-top: 2px solid #d7dbdd;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.middle-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.middle-section h1 {
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
}

.middle-section span {
    background-color: #A9ABAF;
    width: 7rem;
    height: 0.3rem;
    margin-bottom: 1.5rem;
}

.middle-section p {
    color: black;
    font-weight: 400;
    margin-top: 1.2rem;
    margin-bottom: 3.5rem;
}

.middle-section .find-btn {
    background-color: transparent !important;
    outline: none;
    border: 0;
    color: #5dade2;
    font-size: 0.9rem;

    font-weight: bold;
    border: 2px solid #5dade2;
    border-radius: 5px;
    padding: 0.7rem 2rem;
}

input[type="range"] {
    padding: 0;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 3px;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.is-invalid {
    border: 1px solid red;
}

.example-chip-list {
    width: 100%;
}

.tags {
    padding: 0.5rem 0.5rem;
}

@media (max-width: 768px) {
    .home-content h1 {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
}