<div class="container-fluid footer-section">

    <div class="row justify-content-center">
  
      <div class="col-12 text-center">
  
        <p>Subscribe to our Job Seeker Mailing List</p>
  
      </div>
  
      <div class="col-8 col-md-5 col-lg-2 text-center">
  
        <div class="input-group">
  
          <input
            type="text"
            class="form-control"
            placeholder="Enter Your Email Address"/>
  
          <div class="input-group-append">
  
            <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <div class="container-fluid footer-bottom">
  
    <div class="row">
  
      <div class="container">
  
        <div class="row justify-content-center">
  
          <div class="col-7">
  
            <i class="fa fa-envelope" aria-hidden="true"></i>
  
            <p>
              Copyright &copy; 2024 Two Bytes Consulting.
              <strong>Terms & Policies.</strong>
            </p>
  
          </div>
  
          <div class="col-5 align-self-center text-lg-right">
  
            <a class="btn text-primary tweet"> Tweet</a>
            <!-- <mdb-icon fab icon="twitter"></mdb-icon> -->
            <a class="tweet-count">692</a>
  
            <a class="btn  text-primary facebook"> Like</a>
            <!-- <mdb-icon fab icon="facebook-square"></mdb-icon> -->
            <a class="fb-count">117</a>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
    
  </div>
  